{% extends 'dashboard/base.html' %}
{% block dashboardcontent %}

    {% if all_products.count > 0 %}

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope='col'>ID</th>
                    <th scope='col'>Nom</th>
                    <th scope='col'>Prix</th>
                    <th scope='col'>Quantité</th>
                </tr>
            </thead>
            
            <tbody>
                {% for item in all_products %}
                    <tr>
                        <td scope='row'>{{item.id}}</th>
                        <td scope='row'>{{item.product_name}}</td>
                        <td scope='row'>{{item.product_price}}</td>
                        <td scope='row'>{{item.product_quantity}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    {% else %}
        <h1 class='text-center'>No Products are thier to view....</h1>

    {% endif %}
    
    <button type="button" class='btn btn-primary btn-lg btn-block' onclick="location.href={% url 'dashboard:dashboard_index' %}">Retour</button>


{% endblock %}